xsd/data/Entity/Msu/Procedures/MsuCorrectiveActionItemType.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema targetNamespace="https://ec.europa.eu/tools/eudamed/dtx/datamodel/Entity/MsuProcedures/CorrectiveAction/v1"
           xmlns:xs="http://www.w3.org/2001/XMLSchema"
           xmlns:coa="https://ec.europa.eu/tools/eudamed/dtx/datamodel/Entity/MsuProcedures/CorrectiveAction/v1"
           xmlns:vd="https://ec.europa.eu/tools/eudamed/dtx/datamodel/Entity/Msu/VersionDataType/v1"
           xmlns:doct="https://ec.europa.eu/tools/eudamed/dtx/datamodel/Entity/Common/Document/v1"
           xmlns:coaType="https://ec.europa.eu/tools/eudamed/dtx/datamodel/Entity/MsuProcedures/CorrectiveAction/CorrectiveActionType/v1"
           xmlns:vigReport="https://ec.europa.eu/tools/eudamed/dtx/datamodel/Entity/MsuProcedures/CorrectiveAction/VigilanceReport/v1"
           xmlns:affectedCountry="https://ec.europa.eu/tools/eudamed/dtx/datamodel/Entity/MsuProcedures/AffectedCountry/v1"
           elementFormDefault="qualified">
    <xs:import namespace="https://ec.europa.eu/tools/eudamed/dtx/datamodel/Entity/Common/Document/v1"
               schemaLocation="../../Common/DocumentType.xsd"/>
    <xs:import namespace="https://ec.europa.eu/tools/eudamed/dtx/datamodel/Entity/Msu/VersionDataType/v1" schemaLocation="../VersionDataType.xsd"/>
    <xs:import namespace="https://ec.europa.eu/tools/eudamed/dtx/datamodel/Entity/MsuProcedures/CorrectiveAction/CorrectiveActionType/v1"
               schemaLocation="MsuCoaTypeItemType.xsd"/>
    <xs:import namespace="https://ec.europa.eu/tools/eudamed/dtx/datamodel/Entity/MsuProcedures/CorrectiveAction/VigilanceReport/v1"
               schemaLocation="VigilanceReports.xsd"/>
    <xs:import namespace="https://ec.europa.eu/tools/eudamed/dtx/datamodel/Entity/MsuProcedures/AffectedCountry/v1"
               schemaLocation="AffectedCountryType.xsd"/>
    <xs:simpleType name="CorrectiveActionStatusEnum">
        <xs:restriction base="xs:string">
            <xs:enumeration value="REQUESTED"/>
            <xs:enumeration value="PERFORMED"/>
            <xs:enumeration value="NOT_PERFORMED"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="MsuCorrectiveActionType">
        <xs:complexContent>
            <xs:extension base="vd:VersionDataType">
                <xs:sequence>
                    <xs:element name="procedureIdentifier" type="xs:string" minOccurs="0" maxOccurs="1"/>
                    <xs:element name="identifier" type="xs:string" minOccurs="1" maxOccurs="1"/>
                    <xs:element name="localCaReference" type="xs:string" minOccurs="1" maxOccurs="1"/>
                    <xs:element name="correctiveActionTypes" minOccurs="1" maxOccurs="1"
                                type="coaType:MsuCoaTypesItemType"/>
                    <xs:element name="linkedToVigilance" type="xs:boolean" minOccurs="1" maxOccurs="1"/>
                    <xs:element name="vigilanceReports" minOccurs="0" maxOccurs="1"
                                type="vigReport:VigilanceReportsType"/>
                    <xs:element name="justification" type="xs:string" minOccurs="0" maxOccurs="1"/>
                    <xs:element name="justificationDocuments" type="doct:OptionalDocumentsType" minOccurs="0" maxOccurs="1"/>
                    <xs:element name="affectedCountries" minOccurs="1" maxOccurs="1" type="affectedCountry:AffectedCountriesType"/>
                    <xs:element name="entrydate" type="xs:date" minOccurs="1" maxOccurs="1"/>
                    <xs:element name="statusDate" type="xs:date" minOccurs="0" maxOccurs="1"/>
                    <xs:element name="status" minOccurs="1" maxOccurs="1" type="coa:CorrectiveActionStatusEnum"/>
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    <xs:complexType name="MsuCorrectiveActionsType">
        <xs:sequence>
            <xs:element name="correctiveActionItemType" type="coa:MsuCorrectiveActionType" minOccurs="1" maxOccurs="unbounded"/>
        </xs:sequence>
    </xs:complexType>
</xs:schema>
