xsd/data/Entity/Msu/Procedures/MsuMeasureTypeItemType.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema
        targetNamespace="https://ec.europa.eu/tools/eudamed/dtx/datamodel/Entity/MsuProcedures/Measure/MeasureType/v1"
        xmlns:xs="http://www.w3.org/2001/XMLSchema"
        xmlns:measureType="https://ec.europa.eu/tools/eudamed/dtx/datamodel/Entity/MsuProcedures/Measure/MeasureType/v1"
        elementFormDefault="qualified">
    <xs:simpleType name="MeasureTypeEnum">
        <xs:restriction base="xs:string">
            <xs:enumeration value="FORCED_RECALL"/>
            <xs:enumeration value="RESTRICT"/>
            <xs:enumeration value="PROHIBIT"/>
            <xs:enumeration value="SUBJECT_TO_REQUIREMENTS"/>
            <xs:enumeration value="WITHDRAW"/>
            <xs:enumeration value="OTHER"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="MsuMeasureTypeItemType">
        <xs:sequence>
            <xs:element name="measureType" minOccurs="1" maxOccurs="1" type="measureType:MeasureTypeEnum"/>
            <xs:element name="muTypeOtherDescription" minOccurs="0" maxOccurs="1" type="xs:string"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="MsuMeasureTypesItemType">
        <xs:sequence>
            <xs:element name="measureType" type="measureType:MsuMeasureTypeItemType" minOccurs="1" maxOccurs="unbounded"/>
        </xs:sequence>
    </xs:complexType>
</xs:schema>
