xsd/data/Entity/Msu/Procedures/MsuProcedureData.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema targetNamespace="https://ec.europa.eu/tools/eudamed/dtx/datamodel/Entity/MsuProcedures/ProcedureData/v1"
           xmlns:xs="http://www.w3.org/2001/XMLSchema"
           xmlns:procdt="https://ec.europa.eu/tools/eudamed/dtx/datamodel/Entity/MsuProcedures/ProcedureData/v1"
           xmlns:proc="https://ec.europa.eu/tools/eudamed/dtx/datamodel/Entity/MsuProcedures/Procedure/v1"
           xmlns:addInfo="https://ec.europa.eu/tools/eudamed/dtx/datamodel/Entity/MsuProcedures/AdditionalInfo/v1"
           xmlns:mea="https://ec.europa.eu/tools/eudamed/dtx/datamodel/Entity/MsuProcedures/Measure/v1"
           xmlns:coa="https://ec.europa.eu/tools/eudamed/dtx/datamodel/Entity/MsuProcedures/CorrectiveAction/v1"
           xmlns:objct="https://ec.europa.eu/tools/eudamed/dtx/datamodel/Entity/MsuProcedures/Measure/Objection/v1"
           elementFormDefault="qualified">
    <xs:import namespace="https://ec.europa.eu/tools/eudamed/dtx/datamodel/Entity/MsuProcedures/Measure/v1" schemaLocation="MsuMeasureItemType.xsd"/>
    <xs:import namespace="https://ec.europa.eu/tools/eudamed/dtx/datamodel/Entity/MsuProcedures/CorrectiveAction/v1" schemaLocation="MsuCorrectiveActionItemType.xsd"/>
    <xs:import namespace="https://ec.europa.eu/tools/eudamed/dtx/datamodel/Entity/MsuProcedures/AdditionalInfo/v1" schemaLocation="MsuAdditionalInfoItemType.xsd"/>
    <xs:import namespace="https://ec.europa.eu/tools/eudamed/dtx/datamodel/Entity/MsuProcedures/Measure/Objection/v1" schemaLocation="MsuObjectionItemType.xsd"/>
    <xs:import namespace="https://ec.europa.eu/tools/eudamed/dtx/datamodel/Entity/MsuProcedures/Procedure/v1" schemaLocation="MsuProcedureItemType.xsd"/>
    <xs:complexType name="MsuProcedureDataType">
        <xs:choice>
            <xs:element name="procedureItem" type="proc:MsuProcedureItemType" minOccurs="0" maxOccurs="1"/>
            <xs:element name="correctiveActionItem" type="coa:MsuCorrectiveActionType" minOccurs="0" maxOccurs="1"/>
            <xs:element name="measureItem" type="mea:MsuMeasureItemType" minOccurs="0" maxOccurs="1"/>
            <xs:element name="objectionItem" type="objct:MsuObjectionItemType" minOccurs="0" maxOccurs="1"/>
            <xs:element name="additionalInfoItem" type="addInfo:MsuAdditionalInfoItemType" minOccurs="0" maxOccurs="1"/>
        </xs:choice>
    </xs:complexType>
    <xs:element name="MsuProcedureDataType" type="procdt:MsuProcedureDataType"/>
</xs:schema>
