xsd/data/Entity/Msu/Procedures/VigilanceReports.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema
        targetNamespace="https://ec.europa.eu/tools/eudamed/dtx/datamodel/Entity/MsuProcedures/CorrectiveAction/VigilanceReport/v1"
        xmlns:xs="http://www.w3.org/2001/XMLSchema"
        xmlns:vigReport="https://ec.europa.eu/tools/eudamed/dtx/datamodel/Entity/MsuProcedures/CorrectiveAction/VigilanceReport/v1"
        elementFormDefault="qualified">
    <xs:complexType name="VigilanceReportType">
        <xs:sequence>
            <xs:element name="reportIdentifier" type="xs:string" minOccurs="1" maxOccurs="1"/>
            <xs:element name="reportType" type="xs:string" minOccurs="1" maxOccurs="1"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="VigilanceReportsType">
        <xs:sequence>
            <xs:element name="vigilanceReport" type="vigReport:VigilanceReportType" minOccurs="0"
                        maxOccurs="unbounded"/>
        </xs:sequence>
    </xs:complexType>
</xs:schema>
