xsd/data/Entity/ActorRegistration.xsd

<?xml version="1.0" encoding="utf-8"?>
<?xml-stylesheet type="text/xsl" href="/tools/eudamed/dtx/xslt/index.xsl"?>
<xs:schema targetNamespace="https://ec.europa.eu/tools/eudamed/dtx/datamodel/Entity/Actor/Registration/v1" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:actorregistration="https://ec.europa.eu/tools/eudamed/dtx/datamodel/Entity/Actor/Registration/v1" xmlns:actor="https://ec.europa.eu/tools/eudamed/dtx/datamodel/Actor/v1" xmlns:commonbasic="https://ec.europa.eu/tools/eudamed/dtx/datamodel/CommonBasic/v1" xmlns:doct="https://ec.europa.eu/tools/eudamed/dtx/datamodel/Entity/Common/Document/v1" xmlns:address="https://ec.europa.eu/tools/eudamed/dtx/datamodel/Entity/Party/Address/v1" xmlns:lsn="https://ec.europa.eu/tools/eudamed/dtx/datamodel/Entity/Common/LanguageSpecific/v1" elementFormDefault="qualified">
	<xs:include schemaLocation="Actor/RegistrationType.xsd"/>
	<xs:element name="ActorRegistrationRequest" type="actorregistration:ActorRegistrationRequestType"/>
	<xs:element name="ActorRegistrationAssesment" type="actorregistration:ActorRegistrationAssessmentType"/>
	<xs:element name="ActorRegistrationAssessmentResponse" type="actorregistration:ActorRegistrationAssessmentResponseType">
		<xs:annotation>
			<xs:documentation>This response payload will be made available after release 1.4.</xs:documentation>
		</xs:annotation>
	</xs:element>
</xs:schema>
