xsd/data/Entity/Vigilance/vigilance.xsd

<?xml version="1.0" encoding="UTF-8" standalone="yes"?><?xml-stylesheet type="text/xsl" href="/tools/eudamed/dtx/xslt/index.xsl"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns="https://ec.europa.eu/tools/eudamed/dtx/datamodel/Entity/Vigilance" xmlns:vig="https://ec.europa.eu/tools/eudamed/dtx/datamodel/Entity/Vigilance" targetNamespace="https://ec.europa.eu/tools/eudamed/dtx/datamodel/Entity/Vigilance" elementFormDefault="qualified">
    <xs:simpleType name="SearchConditionEnum">
        <xs:annotation>
            <xs:documentation>The possible values are:</xs:documentation>
            <xs:documentation>EQ</xs:documentation>
            <xs:documentation>LTE</xs:documentation>
            <xs:documentation>GTE</xs:documentation>
            <xs:documentation>LIKE</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string"/>
    </xs:simpleType>
    <xs:simpleType name="ENUM_MDR_ISSUING_ENTITY">
        <xs:annotation>
            <xs:documentation>Enumeration location: [Eudamed server address]/vig-data-ws/public/enumerations/ENUM_MDR_ISSUING_ENTITY</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string"/>
    </xs:simpleType>
    <xs:group name="DossierGroup">
        <xs:sequence>
            <xs:element name="DossierExtId" type="xs:string" minOccurs="0"/>
            <xs:element name="DossierCode" type="xs:string" minOccurs="0">
                <xs:annotation>
                    <xs:documentation>Generated by the 'create' operation. Mandatory in all other cases</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="DossierStateLabel" type="xs:string" minOccurs="0">
                <xs:annotation>
                    <xs:documentation>* Output only field *</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="DossierVersion" type="xs:long" minOccurs="0">
                <xs:annotation>
                    <xs:documentation>* Output only field *</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="Creator" type="xs:string" minOccurs="0">
                <xs:annotation>
                    <xs:documentation>* Output only field *</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="CreationDate" type="xs:dateTime" minOccurs="0">
                <xs:annotation>
                    <xs:documentation>* Output only field *</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="SubmissionDate" type="xs:dateTime" minOccurs="0">
                <xs:annotation>
                    <xs:documentation>* Output only field *</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="Owner" type="OwnerType" minOccurs="0" maxOccurs="unbounded">
                <xs:annotation>
                    <xs:documentation>* Output only field *</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="Fields" type="DossierFieldsType"/>
            <xs:element name="ActionDetails" type="DossierActionDetailsType" minOccurs="0"/>
            <xs:element name="Data" type="DataType"/>
        </xs:sequence>
    </xs:group>
    <xs:complexType name="stringOrdinal">
        <xs:simpleContent>
            <xs:extension base="xs:string">
                <xs:attribute name="ordinal" type="xs:positiveInteger" use="required"/>
            </xs:extension>
        </xs:simpleContent>
    </xs:complexType>
    <xs:complexType name="dateOrdinal">
        <xs:simpleContent>
            <xs:extension base="xs:date">
                <xs:attribute name="ordinal" type="xs:positiveInteger" use="required"/>
            </xs:extension>
        </xs:simpleContent>
    </xs:complexType>
    <xs:complexType name="DossierSearchCriteria">
        <xs:sequence>
            <xs:element name="key" type="xs:string">
                <xs:annotation>
                    <xs:documentation>Specify field name or dossier property</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="DossierSearchValue" maxOccurs="unbounded">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="value" type="xs:string" minOccurs="0"/>
                        <xs:element name="searchCondition" type="SearchConditionEnum" minOccurs="0" default="LIKE"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="OwnerType">
        <xs:sequence>
            <xs:element name="Owner" type="xs:string"/>
            <xs:element name="ActorSrn" type="xs:string"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="DossierFieldsType"/>
    <xs:complexType name="DossierActionDetailsType"/>
    <xs:complexType name="DataType">
        <xs:attribute name="version" type="xs:string" use="required"/>
    </xs:complexType>
    <xs:complexType name="AbstractDossierType" abstract="true">
        <xs:group ref="DossierGroup"/>
        <xs:attribute name="version" type="xs:string" use="required"/>
    </xs:complexType>
    <xs:complexType name="ActionDetailsType"/>
    <xs:complexType name="AbstractSubmitterDetailsType" abstract="true"/>
    <xs:complexType name="AbstractContactMdrType" abstract="true"/>
    <xs:complexType name="AbstractAddressType" abstract="true"/>
    <xs:complexType name="AddressGpsType">
        <xs:sequence>
            <xs:element name="latitude" type="xs:double" minOccurs="0"/>
            <xs:element name="longitude" type="xs:double" minOccurs="0"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="DeviceIdentifierType">
        <xs:sequence>
            <xs:element name="udiDiCode" type="xs:string">
                <xs:annotation>
                    <xs:documentation>May contains a primary udi di or a basic udi di depending on the context where is used.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="issuingAgency" type="ENUM_MDR_ISSUING_ENTITY"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="DeviceIdentifierTypeOrdinal">
        <xs:complexContent>
            <xs:extension base="DeviceIdentifierType">
                <xs:attribute name="ordinal" type="xs:positiveInteger" use="required"/>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    <xs:complexType name="DocumentMdrType">
        <xs:sequence>
            <xs:element name="FileName" type="xs:string"/>
            <xs:element name="FileURI" type="xs:string">
                <xs:annotation>
                    <xs:documentation>Provide a unique reference for this file inside the archive sent with the payload. Use '/' as file separator. Ex. [DossierExternalId]/[fieldName]/[fileID]/[fileName.pdf]</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="CreationDate" type="xs:dateTime" minOccurs="0">
                <xs:annotation>
                    <xs:documentation>* Output only *</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="DocumentType" type="xs:string" minOccurs="0"/>
            <xs:element name="Language" type="xs:string" minOccurs="0">
                <xs:annotation>
                    <xs:documentation>Comma separated list of languages for the provided document. (see ENUM_MDR_LANGUAGE for the possible values)</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="DocumentMdrTypeOrdinal">
        <xs:complexContent>
            <xs:extension base="DocumentMdrType">
                <xs:attribute name="ordinal" type="xs:positiveInteger" use="required"/>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    <xs:complexType name="LinkedDossierType">
        <xs:sequence>
            <xs:element name="deviceIdentifier" type="DeviceIdentifierType"/>
            <xs:element name="linkedDossierId" type="xs:string"/>
        </xs:sequence>
    </xs:complexType>
    <xs:element name="Dossier" type="AbstractDossierType"/>
</xs:schema>
