xsd/data/Entity/Common/CommonBasicType.xsd

<?xml version="1.0" encoding="utf-8"?>
<?xml-stylesheet type="text/xsl" href="/tools/eudamed/dtx/xslt/index.xsl"?>
<xs:schema targetNamespace="https://ec.europa.eu/tools/eudamed/dtx/datamodel/CommonBasic/v1" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:commonbasic="https://ec.europa.eu/tools/eudamed/dtx/datamodel/CommonBasic/v1" elementFormDefault="qualified">
	<xs:simpleType name="stringCASType">
		<xs:restriction base="xs:string">
			<xs:pattern value="\d{1,7}-\d{2}-\d"/>
			<xs:minLength value="1"/>
			<xs:maxLength value="12"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="stringTechCodeType">
		<xs:restriction base="xs:string">
			<xs:minLength value="4"/>
			<xs:maxLength value="12"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:complexType name="ParameterType">
		<xs:sequence>
			<xs:element name="Key" type="commonbasic:stringSType" minOccurs="0" maxOccurs="1"/>
			<xs:element name="Value" type="commonbasic:stringLType" minOccurs="1" maxOccurs="1"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="ParametersType">
		<xs:sequence>
			<xs:element name="Param" type="commonbasic:ParameterType" minOccurs="1" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	<xs:simpleType name="stringECCODEType">
		<xs:restriction base="xs:string">
			<xs:pattern value="\d{3}-\d{3}-\d"/>
			<xs:minLength value="9"/>
			<xs:maxLength value="9"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="stringXSType">
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="120"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="stringNBActorCodeType">
		<xs:restriction base="xs:string">
			<xs:pattern value="[\d]{4}"/>
			<xs:minLength value="4"/>
			<xs:maxLength value="4"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="stringSType">
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="255"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="stringMType">
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="500"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="stringLType">
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="2000"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="integer-1ToMax">
		<xs:restriction base="xs:short">
			<xs:minInclusive value="-1"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="positiveInteger">
		<xs:restriction base="xs:positiveInteger"/>
	</xs:simpleType>
	<xs:simpleType name="stringSRNType">
		<xs:restriction base="xs:string">
			<xs:pattern value="((AF|AX|AL|DZ|AS|AD|AO|AI|AQ|AG|AR|AM|AW|AU|AT|AZ|BH|BS|BD|BB|BY|BE|BZ|BJ|BM|BT|BO|BQ|BA|BW|BV|BR|IO|BN|BG|BF|BI|KH|CM|CA|CV|KY|CF|TD|CL|CN|CX|CC|CO|KM|CG|CD|CK|CR|CI|HR|CU|CW|CY|CZ|DK|DJ|DM|DO|EC|EG|EL|SV|GQ|ER|EE|ET|FK|FO|FJ|FI|FR|GF|PF|TF|GA|GM|GE|DE|GH|GI|GR|GL|GD|GP|GU|GT|GG|GN|GW|GY|HT|HM|VA|HN|HK|HU|IS|IN|ID|IR|IQ|IE|IM|IL|IT|JM|JP|JE|JO|KZ|KE|KI|KP|KR|KW|KG|LA|LV|LB|LS|LR|LY|LI|LT|LU|MO|MK|MG|MW|MY|MV|ML|MT|MH|MQ|MR|MU|YT|MX|FM|MD|MC|MN|ME|MS|MA|MZ|MM|NA|NR|NP|NL|NC|NZ|NI|NE|NG|NU|NF|MP|NO|OM|PK|PW|PS|PA|PG|PY|PE|PH|PN|PL|PT|PR|QA|RE|RO|RU|RW|BL|SH|KN|LC|MF|PM|VC|WS|SM|ST|SA|SN|RS|SC|SL|SG|SX|SK|SI|SB|SO|ZA|GS|SS|ES|LK|SD|SR|SJ|SZ|SE|CH|SY|TW|TJ|TZ|TH|TL|TG|TK|TO|TT|TN|TR|TM|TC|TV|UG|UA|UK|AE|GB|US|UM|UY|UZ|VU|VE|VN|VG|VI|XI|WF|EH|YE|ZM|ZW)-(AR|MF|SP|IM|PR)-[0-9]{9})|NA"/>
			<xs:minLength value="2"/>
			<xs:maxLength value="15"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="string12Type">
		<xs:restriction base="xs:string">
			<xs:minLength value="12"/>
			<xs:maxLength value="12"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="string9Type">
		<xs:restriction base="xs:string">
			<xs:minLength value="9"/>
			<xs:maxLength value="9"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:complexType name="DateInterval">
		<xs:sequence>
			<xs:element name="Start" type="xs:date" minOccurs="1" maxOccurs="1"/>
			<xs:element name="End" type="xs:date" minOccurs="1" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>
						The end date is inclusive.
					</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:simpleType name="registeredOrDiscardedState">
		<xs:restriction base="xs:string">
			<xs:enumeration value="REGISTERED"/>
			<xs:enumeration value="DISCARDED"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="reportRegulation">
		<xs:restriction base="xs:string">
			<xs:enumeration value="MDR"/>
			<xs:enumeration value="IVDR"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:complexType name="period">
		<xs:sequence>
			<xs:element name="year" type="xs:int" minOccurs="1" maxOccurs="1"/>
			<xs:element name="month" type="xs:int" minOccurs="1" maxOccurs="1"/>
		</xs:sequence>
	</xs:complexType>
	<xs:simpleType name="yesNoUnknownT">
		<xs:restriction base="xs:string">
			<xs:enumeration value="Yes"/>
			<xs:enumeration value="No"/>
			<xs:enumeration value="Unknown"/>
		</xs:restriction>
	</xs:simpleType>
</xs:schema>
